<section id="resume-certifications" class="resume-certifications">
    <div class="resume-certifications-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Certifications and Awards</h2>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-certificate"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">MCSD: Web Applications</h5>
                                <p><em>March 2015</em></p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-certificate"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">MCPD: Windows Azure Developer</h5>
                                <p><em>July 2014</em></p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-certificate"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">MCTS: .NET Framework 4, Service Communication Applications</h5>
                                <p><em>April 2014</em></p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-certificate"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">MCPS: Microsoft Certified Professional</h5>
                                <p><em>December 2013</em></p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-certificate"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">MCTS: .NET Framework 4, Data Access</h5>
                                <p><em>December 2013</em></p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-trophy"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">EESTEC Olympics, Bucharest</h5>
                                <p><em>April 2011</em>, Microsoft prize</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-trophy"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">Best Engineering Competition 6, Bucharest</h5>
                                <p><em>November 2007</em>, First prize</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-trophy"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">Best Engineering Competition 5, Bucharest</h5>
                                <p><em>May 2007</em>, First prize</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-certifications" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-trophy"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h5 class="media-heading">Prizes at Informatics and Physics National Olympics</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
