<section id="resume-education" class="resume-education">
    <div class="resume-education-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Education</h2>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#resume-education" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-graduation-cap"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Master of Science</h4>
                                <p>Parallel and Distributed Computer Systems</p>
                                <p>Vrije University of Amsterdam</p>
                                <p><em>2013</em></p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#resume-education" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-graduation-cap"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Bachelor of Science</h4>
                                <p>Computer Science</p>
                                <p>Politehnica University of Bucharest</p>
                                <p><em>2010</em></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
