<section id="resume-experience" class="resume-experience">
    <div class="resume-experience-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Experience</h2>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-experience" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-group"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">iProspect Netherlands</h4>
                                <p><em>October 2011 – Present</em></p>
                            </div>
                        </li>
                    </ul>
                    <ul class="check-list">
                        <li class="check-list-user"><strong>.NET Developer</strong> responsible for <em>architecture</em>, <em>software design</em> and <em>implementation</em> of company software products</li>
                        <li>Developed <strong>COS.Editor</strong>, a Silverlight application used internally to manage cross-account AdWords campaigns</li>
                        <li>Developed <strong>AdService.Web.Interface</strong>, an ASP.NET application used internally to display client AdWords campaigns, and to create and edit ad, keyword and ad group templates used in the campaigns</li>
                        <li>Developed <strong>FeedTransformer</strong>, a rule-based tabular data transformation engine</li>
                        <li class="check-list-gear"><strong>Technologies</strong>: <code>Silverlight, ASP.NET MVC, WCF, EF, MongoDB, Solr, AngularJS, jQuery, Bootstrap, TPL DataFlow</code></li>
                    </ul>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-experience" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-group"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Housatonic Software</h4>
                                <p><em>March 2009 – October 2011</em></p>
                            </div>
                        </li>
                    </ul>
                    <ul class="check-list">
                        <li class="check-list-user"><strong>.NET Developer</strong> responsible for <em>development</em> and <em>bug fixing</em> of company software products</li>
                        <li>Feature implementation and bug fixing for company’s main products <strong>Project Viewer</strong> and <strong>Project Viewer Server</strong></li>
                        <li>Developed <strong>Housatonic Project Outlook</strong>, a Microsoft Project plug-in that can export/import tasks and calendars from Microsoft Outlook</li>
                        <li class="check-list-gear"><strong> Technologies</strong>: <code>WinForms, ASP.NET, jQuery, Office Interop, COM</code></li>
                    </ul>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-experience" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-group"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Adrem</h4>
                                <p><em>August 2010 – August 2011</em></p>
                            </div>
                        </li>
                    </ul>
                    <ul class="check-list">
                        <li class="check-list-user"><strong>.NET Developer</strong> responsible for <em>architecture</em>, <em>software design</em> and <em>implementation</em> of company software products</li>
                        <li>Developed <strong>L2 Automation</strong>, a distributed application that runs on top of level 1 automation systems on factory sites. The system collects process information from the SCADA systems on site, displays the process evolution in real time, predicts and controls the process evolution using a mathematical model</li>
                        <li>Developed <strong>AI Gas</strong>, an application running on an on-board computer in a gas analysis system. The application communicates and controls a Residual Gas Analyser developed by Stanford Research Systems</li>
                        <li class="check-list-gear"><strong>Technologies</strong>: <code>SCADA systems, Kepware OPC API, WPF, EF, .NET TCP API, .NET Serial Port API</code></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>