<footer class="resume-footer">
    <div class="resume-footer-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="center-block text-center">
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/eugen.podaru" target="_blank" class="btn btn-rounded">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://nl.linkedin.com/pub/eugen-podaru/25/b36/6a8" target="_blank" class="btn btn-rounded">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/eugenpodaru" target="_blank" class="btn btn-rounded">
                                    <span class="fa fa-github"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/EugenPodaru" target="_blank" class="btn btn-rounded">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/eugen.podaru/" target="_blank" class="btn btn-rounded">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
