<header class="resume-header">
    <div class="resume-header-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="~/Content/Styles/images/profile-md.jpg" class="img-responsive img-rounded center-block" alt="Eugen Podaru" />
                </div>
                <div class="col-xs-12">
                    <div class="center-block text-center">
                        <h2>Eugen Podaru</h2>
                        <h4>
                            <code>.NET Developer</code>
                        </h4>
                        <hr class="line" />
                        <ul class="contact-details">
                            <li>
                                <a class="contact-detail" href="mailto:eugen.podaru@live.com">eugen.podaru@live.com</a>
                            </li>
                            <li>
                                <span class="fa fa-bicycle"></span>
                                <span class="contact-detail">Amsterdam,&nbsp;The Netherlands</span>
                                <span class="fa fa-bicycle"></span>
                            </li>
                            <li>
                                <a href="~/Content/Assets/Resume.pdf" target="_blank" class="btn btn-rounded download">
                                    <span class="fa fa-download"></span>
                                    <span class="contact-detail">download pdf</span>
                                    <span class="fa fa-download"></span>
                                </a>
                            </li>
                        </ul>
                        <a href="#resume-experience" class="btn btn-rounded more page-scroll">
                            <span class="fa fa-angle-double-down"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
