<section id="resume-languages" class="resume-languages">
    <div class="resume-languages-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Language Skills</h2>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-languages" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-language"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Romanian</h4>
                                <p>Mother tongue</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-languages" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-language"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">English</h4>
                                <p>C2, Proficient user</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-languages" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-language"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Russian</h4>
                                <p>C1, Proficient user</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-languages" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-language"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Dutch</h4>
                                <p>B1, Independent user</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
