<li>
    <a class="page-scroll" href="#resume-experience">
        <h6>Experience</h6>
    </a>
</li>
<li>
    <a class="page-scroll" href="#resume-side-projects">
        <h6>Side Projects</h6>
    </a>
</li>
<li>
    <a class="page-scroll" href="#resume-skills">
        <h6>Professional Skills</h6>
    </a>
</li>
<li>
    <a class="page-scroll" href="#resume-education">
        <h6>Education</h6>
    </a>
</li>
<li>
    <a class="page-scroll" href="#resume-languages">
        <h6>Language Skills</h6>
    </a>
</li>
<li>
    <a class="page-scroll" href="#resume-certifications">
        <h6>Certifications and Awards</h6>
    </a>
</li>
