<section id="resume-side-projects" class="resume-side-projects">
    <div class="resume-side-projects-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Side Projects</h2>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left media-middle">
                                <a href="#resume-side-projects" class="btn btn-rounded page-scroll">
                                    <span class="fa fa-trophy"></span>
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">vundermind programming contest</h4>
                                <p><em>November 2012 – April 2013</em></p>
                            </div>
                        </li>
                    </ul>
                    <ul class="check-list">
                        <li><em>Designed</em> and <em>developed</em> the contest website</li>
                        <li><em>Created</em> and <em>managed</em> the VUCS facebook page on which the contest was promoted</li>
                        <li><em>Created</em> and <em>solved</em> the programming challenges</li>
                        <li><em>Organized</em> the contest and decided the winner</li>
                        <li class="check-list-gear"><strong>Technologies</strong>: <code>ASP.NET, jQuery, Umbraco, Azure</code></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>