<section id="resume-skills" class="resume-skills">
    <div class="resume-skills-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Professional Skills</h2>
                    <ul class="check-list">
                        <li>Fluent in <code>C#</code>, knowledgeable in <code>Typescript, JavaScript, C, Python and Java</code></li>
                        <li>Worked with Relational (<code>SQL Server, MySQL</code>) and NoSQL (<code>MongoDB</code>) databases</li>
                        <li><strong>Application Planning, Architecture, Design and Delivery</strong></li>
                        <li>Experience with <strong>Distributed Systems</strong></li>
                        <li>Understanding of <strong>Multi-Threaded</strong> and <strong>Multi-Process Applications</strong></li>
                        <li><strong>Design Patterns and Principles</strong></li>
                        <li><strong>Agile</strong> development methodologies</li>
                        <li>Decentralized and centralized version control systems (<code>Git, SVN, TFS</code>)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>